/**
 * Used for items moving on the screen, but not leaving or entering. Speeds up then slows down
 */
@mixin easing-standard($time) {
  webkit-transition: all cubic-bezier(0.4, 0.0, 0.2, 1) $time;
  -moz-transition: all cubic-bezier(0.4, 0.0, 0.2, 1) $time;
  -o-transition: all cubic-bezier(0.4, 0.0, 0.2, 1) $time;
  transition: all cubic-bezier(0.4, 0.0, 0.2, 1) $time;
}

/**
  Used for items entering the screen. Decelerates on end of animation
  */
@mixin easing-decelerate($time) {
  webkit-transition: all cubic-bezier(0.0, 0.0, 0.2, 1) $time;
  -moz-transition: all cubic-bezier(0.0, 0.0, 0.2, 1) $time;
  -o-transition: all cubic-bezier(0.0, 0.0, 0.2, 1) $time;
  transition: all cubic-bezier(0.0, 0.0, 0.2, 1) $time;
}

/**
 * Used for items leaving the screen. Accelerates on end of animation
 */
@mixin easing-accelerate($time) {
  -webkit-transition: all cubic-bezier(0.4, 0.0, 1, 1) $time;
  -moz-transition: all cubic-bezier(0.4, 0.0, 1, 1) $time;
  -o-transition: all cubic-bezier(0.4, 0.0, 1, 1) $time;
  transition: all cubic-bezier(0.4, 0.0, 1, 1) $time;
}

@mixin overlay-shadow($level){
  box-shadow: 1.5px 1.5px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1.5px 1.5px 5px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1.5px 1.5px 5px 1px rgba(0, 0, 0, 0.2);
}

.bezier-animation {
  -webkit-transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 400ms;
  -moz-transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 400ms;
  -o-transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 400ms;
  transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 400ms;
}

@mixin non-selectable(){
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}