$material-duration-small: 100ms; // Animation length for small elements travelling on the screen, like moving buttons or switches

$material-duration-medium-open:  250ms; // For making medium sized elements appear, traveling a significant portion of the screen, but not too much
$material-duration-medium-close: 200ms; // For making medium sized elements disappear, traveling a significant portion of the screen, but not too much

$material-duration-large-open:  300ms; // For making large sized elements appear, traveling most or all of the screen
$material-duration-large-close: 250ms; // For making large sized elements disappear, traveling most or all of the screen